<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Servidor con Express y Socket.io!</title>
</head>
<body>
    
    <h1>Ejemplo Socket:</h1>
    <div id="contenedor">Socket id:</div>
    <p id="text"></p>
    <button id="emit-to-server">Presioname 👀</button>
    <button id="emit-to-last">Saluda al último conectado 😈</button>

    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>